
   INFO  Running migrations.  

  2024_02_11_092117_create_brands_table ..............................................................................  
  тЗВ create table `brands` (`id` bigint unsigned not null auto_increment primary key, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  

