
   INFO  Running migrations.  

  2024_02_11_091103_add_change_to_posts ..............................................................................  
  тЗВ alter table `posts` modify `published_at` datetime null  

